/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   #455660 = header
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #84b9ba;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h4{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    src: url('fonts/texgyrecursor-regular.oft');
    color: #ffffff;
}
p{
    font-family: Verdana, Arial, sans-serif;
	font-size: 1.6em;
	line-height: 1.8em;
}

#wrapper{
    width: 100%;
    background-color: #84b9ba;
}
header{
    width:100%;
    height:9em;
    background: url(pics/girland.png) left no-repeat;
    top: 0em;
    left: 0em;
}
.pageheadline{
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    position:absolute;
    top: 1em;
    right: 2em;
}
aside{
   width: 100%; 
   margin-top: 14em;
}
nav ul{
	width: 90%;
	margin-left: 5%;
	float: left;
}
nav li{
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	background: url('pics/sprites.png') -300px -100px ;
	background-repeat: no-repeat;
}
nav li:hover{background: url('pics/sprites.png') 0px -100px; background-repeat: no-repeat;}

nav a{
    text-decoration: none;
	color: #ffffff;
	
}
nav a:link {text-decoration: none; }
nav a:visited {color: #ffffff; text-decoration: none; }

.active{
    color: #168689;
}

.sidebarsection{
    border: 1px solid #ffffff;
    background-color: #84b9ba;
    width: 90%;
    margin-left: 5%;
    float: left;
}
.sidebarlist{
    padding-bottom: 1.6em;
    padding-top: 0.8em;
    height: auto;
}
.sidebarheadline{
    font-size: 4em;
    margin-left: 0.4em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}
.sidebarlistitem{
    font-size: 1.8em;
    line-height: 3em;
    margin-left: 1.6em;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}
.sidebarlink{
    text-decoration: underline;
    color: #ffffff;
}

.sidebarlink:link {text-decoration: underline;}
.sidebarlink:visited {color: #ffffff; text-decoration: underline;}

.contentsection{
	float: left;
	margin-left: 5%;
	margin-top: 2em;
    width: 90%;
}
.contentarticle{
	height: auto;
	border-bottom: 0.3em solid  #168689;
}
.contentheadline{
    font-size: 4em;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	color: #000000;
}
.contentlink{
    color: #ffffff;
}

.contentlink:link {text-decoration: underline;}
.contentlink:visited {color: #ffffff; text-decoration: underline;}

.contentparagraph{
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}
.blogfooter{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
	font-size: 0.7em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}

/*blogimages left or right*/
.left{
	float: right;
	margin: 10px;
}
.right{
	float: left;
	margin: 10px;
}
#copycat.right{
    max-width: 200px;
    float: left;
}


/*laboration page*/
.gradetable{
    width: 90%;
    margin-bottom: 2em;
    margin-left: 5%;
    margin-top: 1.6em;
}
.gradetableheader{
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    margin-left: 0em;
    margin-bottom: 0em;
    
}
table {
	margin-top: 20px;
	border: 1px solid #ffffff;
}
thead tr th{
	border: 1px solid #ffffff;
	padding: 10px 10px 10px 10px;  
}
tfoot tr th{
	border: 1px solid #ffffff;
	padding: 10px 10px 10px 10px; 
}
tr{
	border: 1px solid #ffffff;
	padding: 10px 10px 10px 10px;  
	font-size: 1.8em;
	line-height: 3em;
	font-family: Verdana, Arial, sans-serif;
	color: #000000;
}
td{
	border: 1px solid #ffffff;
	padding: 10px 10px 10px 10px;  
}
dl{
    margin-bottom: 0.8em;
}

dt{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
}
dd {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
}
.contactheadline{
    font-size: 5em;
    margin-left: 0em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}
.contactinfo{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}
#contactinfosection{
    height: auto;
    width: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #84b9ba;
}
.contactformsection{
    width: 95%;
    border: 1px solid #ffffff;
    padding: 1.6em;
}
.formheadlines{
    margin-top: 0.8em;
    font-size: 2.5em;
}
.textfields{
    padding-top: 0.8em;
    margin-top: 0.8em;
    height: 5em;
    width: 60%;
    border: 0.2em solid  #168689;
    border-radius: 0.4em;
    clear: both;
}

/*For Webkit browsers (Chrome, Safari) */

.textfields:-webkit-input-placeholder {
   color: #000000;
   font-size: 1.8em;
   font-family: arial;
}

/* For Mozilla Firefox */

.textfields:-moz-placeholder {
   color: #000000;
   font-size: 1.8em;
   font-family: arial;
}
.radio{
	height: 3em;
	width: 10%;
	clear: both;
}
.radiotext{
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    color: #ffffff;
    width: 70%;
    clear: both;
}
.contactdropdown{
	height: 5em;
	width: 60%;
}
option{
	height: 5em;
}

textarea{
    border: 0.3em solid  #168689;
    border-radius: 0.4em;
    width: 60%;
    height: 10em;
}
.sendbutton{
	width: 20%;
	height: 5em;
}
.education{
    width: 100%;
    height: auto;
    margin-top: 1.6em;
    margin-left: 0%;
    background-color: #84b9ba;
    border: 1px solid #ffffff;
}
.workexperience{
    width: 100%;
    height: auto;
    margin-top: 1.6em;
    margin-bottom: 3.2em;
    margin-left: 0%;
    background-color: #84b9ba;
    border: 1px solid #ffffff;
}

#pagebottom{
	display:none;
}

