/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   #455660 = header
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*same for all pages*/
#wrapper{
    width: 960px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
p{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
	margin-bottom: 10px;
	color: #000000;
}

h1{
	font-size: 2em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	color: #000000;

}

h4{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	margin-left: 10px;
	margin-top: 10px;
	color: #000000;
	
}
nav{
	display: none;
}
nav ul{
	display: none;
}
nav ul li{
	display:none;
}
nav ul li a{
	display: none;
}
header{
	display: none;
}
#indexheader{
	display: none;
} 
#laborationheader{
    display: none;
} 
#presentationheader{
    display: none;
}
#contactheader{
    display: none;
} 
/*links*/
.active{
	display: none;
}
.internallink{
	display: none;
}

p a:after {
content: " (" attr(href) ")";
font-size: 80%;
}
#mylinkedin a:after {
content: " (" attr(href) ")";
font-size: 80%;
}

/*Pageheaders and backgroundimages*/
header{
	display: none;
}

main{
	width: 100%;
	height: auto;
	background-color:#ffffff;
}
section{
	float: left;
	height: auto;
	width: 600px;
	background-color:#ffffff;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}
article{
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #000000;
}
/*sidebar*/
aside dl dt{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	margin-left: 10px;
	margin-top: 10px;
	color: #000000;
	
}
aside dl dd {
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 10px;
	margin-top: 10px;
	color: #000000;
	
}
aside dl dd a{
	displaynone
}
aside ul{
	margin-top: 10px;
}
aside ol li{
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 20px;
	margin-top: 10px;
	color: #000000;
	
}
aside ol li a{
	display: none;	
}
aside ol{
	margin-bottom: 10px;
		
}
aside ul li{
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 20px;
	margin-top: 10px;
	color: #000000;

}
aside ul li a{
	display: none;
}

aside{
	float: left;
	width: 300px;
	height: auto;
	min-height: 200px;
	background-color: #000000;
	margin-top: 30px;
	margin-left:10px;
}
#blogpostlist dt{
	display: none;
}

/*blogposts*/
p.blogparagraph{
	margin: 10px auto;
}
p.author{
	margin: 10px auto;
	font-size: 0.7em;
	line-height: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}
/*blogimages left or right*/
.left{
	float: right;
	margin: 10px;
}
.right{
	float: left;
	margin: 10px;
}

/*contact.html*/

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative; 
    padding-left: 10px;  
   	font-size: 0.8em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
    } 
    
.contactinfo{
	color: #000000;
	margin-left: 0px;
}
#contactform{
	display: none;
}
#myname{
	color: #000000;
	text-align: center;
	margin-top: 10px;
}
#myinfo{
	color: #000000;
	text-align: center;
	margin-top: 10px;
}
#mylinkedin{
	color: #000000;
	text-align: center;
	margin-top: 10px;
}
#names{
	margin-top: 10px;
	margin-bottom: 10px;
}
#how{
	margin-top: 10px;
	margin-bottom: 10px;
}
#when{
	margin-top: 10px;
	margin-bottom: 10px;
}
#aboutwhat{
	margin-top: 10px;
	margin-bottom: 10px;
}
#sendbutton{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*prestentation.html*/
#imagejohanna{
	margin: 10px 10px;
}
#presentation dt{
	margin-left:0px;
}
#presentation dd{
	margin-left:10px;
}
#presentation li a{
	color: #000000;
}

#interests{
	width: 300px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#education h4{
	margin-left: 10px;
}
#aboutme{
	float: left;
	height: auto;
	width: 600px;
	background-color:#000000;
	margin-top: 30px;
	margin-left: 30px;
}
/*laboration.html*/
#laboration1{
	height: auto;
	width: 600px;
	background-color:#000000;
	margin-top: 30px;
	margin-left: 30px;
	
}
section dl dt{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	color: #000000;
	
}
section dl dd {
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	color: #000000;
	
}
#sidebar{
	height:auto;
	width: 300px;
	float: left;
	margin-left: 0;
	margin-bottom: 20px;
}
table {
	padding: 20px 20px 20px 20px; 
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}

thead tr th{
	border: 1px solid #000000;
	padding: 6px 6px 6px 6px;  
}
tfoot tr th{
	border: 1px solid #000000;
	padding: 6px 6px 6px 6px; 
}
tr{
	border: 1px solid #000000;
	padding: 6px 6px 6px 6px;  
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	color: #000000;
}
td{
	border: 1px solid #000000;
	padding: 6px 6px 6px 6px;  
}
article dl dd{
	margin-bottom: 10px;
}
footer{
	display: none;
}