/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   #455660 = header
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#wrapper{
    width: 960px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
p{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
	margin-bottom: 10px;
}

header{
	width: 100%;
	height: 200px;
    border-bottom: 10px solid;
	border-color: #424274;
}
nav{
	margin-top:0;
}
nav ul{
	height: 50px;
	width: 100%;
	background-color: #424274;
	color: #ffffff;
}
nav ul li{
	display: inline;
	line-height: 50px;	
}
nav ul li a{
	font-size: 0.9em;
	font-family: Verdana, Arial, Sans Serif;
	font-variant: small-caps;
	text-decoration: none;
	margin-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	border-right: 1px solid #ffffff;
}
#logo{
	margin: auto auto;
	display: block;
}
main{
	background-color: #ffffff;
	width: 100%;
	margin-top: 0px;
}
section{
	float: left;
	height: auto;
	width: 600px;
	background-color:#ffffff;
	margin-top: 30px;
	margin-left: 30px;
}
article{
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 10px solid #424274;
}


listofblogposts{
	float: left;
	width: 300px;
	min-height: 200px;
	background-color: #424274;
	margin-top: 30px;
	margin-left:10px; 
}

aside dl dt{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	margin-left: 10px;
	margin-top: 10px;
	color: #ffffff;
	
}
aside dl dd {
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 10px;
	margin-top: 10px;
	color: #ffffff;
	
}
aside dl dd a{
	color:#ffffff;
}
aside ul{
	margin-top: 10px;
}

h1{
	font-size: 2em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	color: #000000;
	
}
p.blogparagraph{
	margin: 10px auto;
}
p.author{
	margin: 10px auto;
	font-size: 0.7em;
	line-height: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}
#imagejohanna{
	margin: 10px 10px;
}

#interests{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h4{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	margin-left: 10px;
	margin-top: 10px;
	color: #ffffff;
	
}

#education h4{
	margin-left: 10px;
}

ol li{
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 20px;
	margin-top: 10px;
	color: #ffffff;
	
}
ol li a{
	color: #ffffff;
	
}
aside ol{
	margin-bottom: 10px;
		
}
aside ul li{
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	margin-left: 20px;
	margin-top: 10px;
	color: #ffffff;

}
aside ul li a{
	color: #ffffff;

}

aside{
	float: left;
	width: 300px;
	height: auto;
	min-height: 200px;
	background-color: #424274;
	margin-top: 30px;
	margin-left:10px; 
}

#aboutme{
	float: left;
	height: auto;
	width: 600px;
	background-color:#ffffff;
	margin-top: 30px;
	margin-left: 30px;
}

table{
	border: 1px solid #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#laboration1{
	float: left;
	height: auto;
	width: 600px;
	background-color:#ffffff;
	margin-top: 30px;
	margin-left: 30px;
	
}
section dl dt{
	font-size: 0.9em;
	line-height: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	color: #000000;
	
}
section dl dd {
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	color: #000000;
	
}
#resulttable{
	margin-left: 10px;
	margin-top: 20px;
	float:left;
}

footer{
	clear: both;
	height: 50px;
	width: 100%;
	margin-bottom: 0px;
	background-color: #424274;
}