/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   #455660 = header
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #cccccc;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h4{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
    color: #ffffff;
}
p{
    font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
}
#wrapper{
    width: 80em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    background-color: #84b9ba;
}
header{
    height: 9em;
    max-width: 100%;
    background: url(pics/girland.png) left no-repeat;
    border: 1px solid #000;
}
.pageheadline{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5em;
    position:relative;
    left: 5.5em;
    top: 1em;
}

nav{
    width: 30%;
    position: relative;
    margin-top: 9em;
    margin-left: 0.5em;
    border: 1px solid #000000;
}
nav ul{
    width: 40%;
    margin-bottom: 2em;
    margin-left: 2.5em;
}
nav li{
    height: 2.5em;
    border-bottom: 0.2em solid #84b9ba;
    position: relative;
    background: url('pics/sprites.png') -250px 0px ;
	background-repeat: no-repeat;
}
nav li:hover{background: url('pics/sprites.png') 0px 0px; background-repeat: no-repeat;}

nav a{
    font-size: 1em;
    line-height: 2.5em;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-variant: small-caps;
	color: #ffffff;
	left: 2.5em;
    padding-left: 2em;
}
nav a:link {text-decoration: none; }
nav a:visited {color: #ffffff; text-decoration: none; }

.active{
    color: #168689;
}
aside{
    width:30%;
    height: auto;
    position: relative;
    clear:both;
    margin-left: 0.5em;
    border: 1px solid #000000;
}
.sidebarsection{
    background-color: #168689;
    width: 60%;
    height: 100%;
    margin-left: 2.5em;
}
.sidebarlist{
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    height: auto;
}
.sidebarheadline{
    font-size: 1.5em;
    margin-left: 0.4em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}
.sidebarlistitem{
    font-size: 0.7em;
    line-height: 1.4em;
    margin-left: 1.6em;
	font-family: 'Varela', sans-serif;
	color: #ffffff;
}
.sidebarlink{
    text-decoration: underline;
    color: #ffffff;
}

.sidebarlink:link {text-decoration: underline;}
.sidebarlink:visited {color: #ffffff; text-decoration: underline;}
.sidebarlink:hover {color: #8ce9ec; text-decoration: underline;}

.contentsection{
    width: 60%;
    min-height: 700px;
    margin-bottom: 2em;
    margin-left: 35%;
    position: relative;
    margin-top: -24em;
    border:1px solid #000000;
}
.contentarticle{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-bottom: 0.3em solid  #168689;
}
.contentheadline{
    font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	color: #000000;
}
.contentlink{
    color: #ffffff;
}

.contentlink:link {text-decoration: underline;}
.contentlink:visited {color: #ffffff; text-decoration: underline;}
.contentlink:hover {color: #8ce9ec; text-decoration: underline;}

.contentparagraph{
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}
.blogfooter{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
	font-size: 0.7em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}

/*blogimages left or right*/
.left{
	float: right;
	margin: 10px;
}
.right{
	float: left;
	margin: 10px;
}
#copycat.right{
    max-width: 200px;
    float: left;
}
#pagebottom{
    width: 100%;
    height: 2em;
    background-color: #168689;
    clear: both;
}

/*laboration page*/
.gradetable{
    margin-left: 2.5em;
}
.gradetable h1{
    font-size: 1.5em;
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}
table {
	margin-top: 0em;
}
thead tr th{
    padding: 6px 6px 6px 6px;
	border: 1px solid #ffffff;
}
tfoot tr th{
	border: 1px solid #ffffff;
	padding: 6px 6px 6px 6px; 
}
tr{
	border: 1px solid #ffffff;
	padding: 6px 6px 6px 6px;  
	font-size: 0.7em;
	line-height: 1.1em;
	font-family: Verdana, Arial, sans-serif;
	color: #000000;
}
td{
	border: 1px solid #ffffff;
	padding: 6px 6px 6px 6px;  
}
dl{
    margin-bottom: 0.8em;
}

dt{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
}
dd {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
}
#contactsidebarsection{
    width: 80%;
}
.contactheadline{
    font-size: 1.5em;
    margin-left: 0em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}
.contactinfo{
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}
#contactinfosection{
    height: auto;
    width: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.formheadlines{
    margin-top: 0.8em;
}
input{
    padding-top: 0.8em;
    margin-top: 0.8em;
    border: 0.2em solid  #168689;
    border-radius: 0.4em;
}
label{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    color: #ffffff;
}
textarea{
    border: 0.3em solid  #168689;
    border-radius: 0.4em;
}
.education{
    width: 47%;
    height: auto;
    float: left;
    background-color: #168689;
}
.workexperience{
    width: 47%;
    height: auto;
    float: left;
    margin-left: 6%;
    background-color: #168689;
}
#pagebottom{
    width: 100%;
    height: 3em;
    background-color: #168689;
    clear: both;
}

